/* Used only in ```block``` code. */
pre {
    padding: 0.5em 0 0.5em 0.5em;
    border-left: 0.3em solid #bbbbbb;
}
pre > code {
    background-color: whitesmoke;
    display: block;
    overflow-x: auto;
}

/* Used for both `inline` and ```block``` code. */
code {
    font-family: monospace;
}

/* Used for `inline` only. */
p > code {
    color: teal;
}
li > code {
    color: teal;
}
