/* Used only in ```block``` code. */
pre {
    padding: 0.5em 0 0.5em 0.5em;
    border-left: 0.3em solid #bbbbbb;
}

/* Used for both `inline` and ```block``` code. */
code {
    font: 1.2em monospace;
}

/* Used for `inline` only. */
p > code {
    color: teal;
    font-weight: bold;
}
