code {
    font: 1em mono;
    padding: 0.3em 0 0.3em 0.5em;
    margin: 0 0 0 0;

    border: 1px solid black;
    border-left: 10px solid #66a;
    background-color: #eee;
    display: block;
    white-space: pre;
    overflow: auto; /* get scroll when needed */
}
