html {
    overflow-y: scroll;
}

body {
    font-family: sans-serif;
}

div#navigation {
    font: 1em "Courier New", Courier, monospace;

    margin-top: 0;
    margin-bottom: 0;

    font-size: 1.5em;
    text-align: right;
}

a:hover {
    /* remove underline on hover */
    text-decoration: none;

    background-color:#000000;
    color:#FFFFFF;
}

div.info {
    color: #555;
    font-size: 14px;
    font-style: italic;
}

div#footer {
    color: #555;
    text-align: right;
}
