html {
    overflow-y: scroll;
}

body {
    font-family: sans-serif;
    /* It's hard to read too long lines on huge monitors. */
    max-width: 72ch;
    /* Let text fill all the line. */
    text-align: justify;
    text-justify: inter-word;
}

img {
    max-width: 100%;
    height: auto;
}

/* mobile phones */
@media (max-width: 1000px) {
    body {
        width: 96%;
    }
}

div#navigation {
    font-family: monospace;

    margin-top: 0;
    margin-bottom: 0;

    font-size: 1.5em;
}

a:hover {
    font-weight: bold;
}

div.info {
    color: #555;
    font-size: 14px;
    font-style: italic;
}

table, th, td {
  border: 1px solid;
}

table {
  border-collapse: collapse;
}
