/* hk-2.6 */
pre span.Normal { }
pre span.Keyword { color: #007020; font-weight: bold; } 
pre span.DataType { color: #902000; }
pre span.DecVal { color: #40a070; }
pre span.BaseN { color: #40a070; }
pre span.Float { color: #40a070; }
pre span.Char { color: #4070a0; }
pre span.String { color: #4070a0; }
pre span.Comment { color: #60a0b0; font-style: italic; }
pre span.Others { color: #007020; }
pre span.Alert { color: red; font-weight: bold; }
pre span.Function { color: #06287e; }
pre span.RegionMarker { }
pre span.Error { color: red; font-weight: bold; }
/* hk-2.8 */
pre span.kw { color: #007020; font-weight: bold; }
pre span.dt { color: #902000; }
pre span.dv { color: #40a070; }
pre span.bn { color: #40a070; }
pre span.fl { color: #40a070; }
pre span.ch { color: #4070a0; }
pre span.st { color: #4070a0; }
pre span.co { color: #60a0b0; font-style: italic; }
pre span.ot { color: #007020; }
pre span.al { color: red; font-weight: bold; }
pre span.fu { color: #06287e; }
pre span.re { }
pre span.er { color: red; font-weight: bold; }
/* hk-2.9 */
code span.kw { color: #007020; font-weight: bold; }
code span.dt { color: #902000; }
code span.dv { color: #40a070; }
code span.bn { color: #40a070; }
code span.fl { color: #40a070; }
code span.ch { color: #4070a0; }
code span.st { color: #4070a0; }
code span.co { color: #60a0b0; font-style: italic; }
code span.ot { color: #007020; }
code span.al { color: red; font-weight: bold; }
code span.fu { color: #06287e; }
code span.re { }
code span.er { color: red; font-weight: bold; }
