<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>trofi's blog: $title$</title>
        <link rel="stylesheet" type="text/css" href="/css/default.css" />
        <link rel="stylesheet" type="text/css" href="/css/code.css" />
        <link rel="stylesheet" type="text/css" href="/css/skylighting.css" />

        <link rel="alternate" type="application/atom+xml" href="/feed/atom.xml" title="Atom 1.0" />
        <link rel="alternate" type="application/rss+xml" href="/feed/rss.xml" title="RSS 2.0" />
        <link rel="shortcut icon" href="/images/favicon.ico" />
    </head>
    <body>
        <div id="navigation">
            <a href="/">/</a>
            <a href="/archive.html">/archive</a>
            <a href="/feed/atom.xml">/atom</a>
            <a href="/feed/rss.xml">/rss</a>
        </div>

        <div id="content">
            <h1>$title$</h1>

            $body$
        </div>
        <div id="footer">
            powered by <a href="https://jaspervdj.be/hakyll">hakyll</a>
        </div>
    </body>
</html>
