<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>trofi's blog: $title$</title>
        <link rel="stylesheet" type="text/css" href="/css/default.css" />
        <link rel="stylesheet" type="text/css" href="/css/code.css" />
        <link rel="stylesheet" type="text/css" href="/css/highlighting-kate.css" />

        <link rel="alternate" type="application/atom+xml" href="/feed/atom.xml" title="Atom 1.0" />
        <link rel="alternate" type="application/rss+xml" href="/feed/rss.xml" title="RSS 2.0" />
        <link rel="shortcut icon" href="/images/favicon.ico" />
    </head>
    <body>
        <div id="header">
            <a href="/">main :: IO ()</a>
        </div>
        <div id="navigation">
            <a href="/">/root</a>
            <a href="/archive.html">/archive</a>
            <a href="/feed/atom.xml">/atom.xml</a>
            <a href="/feed/rss.xml">/rss.xml</a>
        </div>

        <div id="content">
            <h1>$title$</h1>

            $body$
        </div>
        <div id="footer">
            powered by <a href="http://jaspervdj.be/hakyll">hakyll</a>
        </div>
    </body>
</html>
